img.card-img-top {
    min-height: 177px;
    max-height: 237px;
}

button.btn.btn-primary.btn-lg {
    margin: 80px 285px;
}

.btn-btn-danger {
    background-color: #A02407;
    color: #ffff;
    border-color: #A02407;;
    
}

.btn-btn-danger:hover {
    background-color: #A02407;
    color: #ffff;
    border-color: #A02407;;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-top: 60px;
}
