#mapa-mapbox {
    width: 80%;
    height: 660px;
    left: 270px;
}
img.bandeija {
    position: absolute;
    top: 72%;
    left: 67%;
    width: 56%;
    transform: translate(-50%, -50%);
}
img.users {
    position: absolute;
    top: 465px;
    left: 376px;
    transform: translate(-50%, -50%);
    width: 15%;
}