#mapa-mapbox {
    width: 80%;
    height: 660px;
    left: 270px;
}
img.bandeija {
    position: absolute;
    top: 83%;
    left: 67%;
    transform: translate(-50%, -50%);
}
img.users {
    position: absolute;
    top: 69%;
    left: 25%;
    transform: translate(-50%, -50%);
}