<nav class="navbar navbar-expand-md navbar-light bg-white shadow fixed-left">

    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="../../assets/img/logo.png" alt="Amigo Caminhoneiro">
      <h5>Claudio Gomes</h5>
      <p class="version">Administrador CCR</p>
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggle()" (blur)="collapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of menu">
          <a class="nav-link" routerLinkActive="active" [routerLink]="item.path">{{item.text}}</a>
        </li>
      </ul>
    </div>

    <img class="logo-crr" src="../../assets/img/ccr-logo.png">
    <img class="real-time" src="../../assets/img/realTime.png">
    <img class="list" src="../../assets/img/list.png">
    <img class="config" src="../../assets/img/config.png">
  
  </nav>