.version { 
    height: 48px;
    color: #7f7f7f;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 12px;
} 

.btn-btn-danger {
    background-color: #A02407;
    color: #ffff;
    border-color: #A02407;
}